body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    background-image: url('../img/Forma_1.png'), url('../img/Forma_2.png'), url('../img/Patas.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, right, top right;
    background-size: 95% 30%, 20% 40%, 40% 20%;
}

.logotipo {
    display: none;
}

.icones {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.icone {
    margin: 3.5rem 1.5rem 2rem 2.5rem;
    width: 1.8rem;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 75% 30%, auto, 0;
    }
    .logotipo {
        display: inline;
        width: 120px;
    }
    .figuras {
        margin: 3.5rem 1.5rem 2rem 2.5rem;
        width: 1.5rem;
    }
}


@media screen and (min-width: 1024px) {
    body {
        background-size: 40% 40%, auto, 0;
    }

    .icones {
        margin-left: 3rem;
    }
    .icone {
        margin: 4rem 2.5rem 2rem 2.5rem;
    }

    .logotipo {
        display: inline;
        width: 120px;
    }
    .figuras {
        width:25px;
        margin-left: 1.5rem;
    }
    
    .logo {
        margin-top: 0;
    }
}