.logo {
    width: 320px;
    max-width: 400px;
    margin: 20% auto 0 auto;
    display: block;
}

.boas-vindas {
    padding-top: 4.5rem;
    font-size: 3.2rem;
    text-align: center;
    color: aliceblue;
}

.introducao {
    margin: 3rem 5rem;
    line-height: 150%;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
}

.botoes {
    text-align: center;

}

.botao {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: white;
    background-color: #FC7071;
    border: none;
    margin-top: 1rem;
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
    border-radius: 7px;
}

.botao:hover {
    cursor: pointer;
    background: #c44f4f;
}

main {
    height: 115vh;
    background-image: url('../img/Ilustração.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
}

@media screen and (min-width: 768px) {
    main {
        background-size: 45%;
        height: 105vh;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        margin-top: 3rem;
        width: 300px;
    }
    .boas-vindas {
        font-size: 2rem;
    }
    
    .introducao {
        margin: 3rem 28rem 1rem;
        line-height: 1.5;
        text-align: center;
        color: aliceblue;
        font-size: 1.2rem;
    }
    main {
        background-size: 25%;
        height: 100vh;
    }
    .botao {
        padding: 1rem 1.5rem 1rem 1.5rem;
        color: white;
        background-color: #FC7071;
        border: none;
        margin: 1rem 0 1rem 0;
        font-size: 1.5rem;
        width: 25%;
    }
}