body {
    background-color: #3772FF;
    background-size: 95% 30%, 20% 40%, 0;  
}

.logo {
    width: 240px;
    max-width: 400px;
    margin: 20% auto 0 auto;
    display: block;
}

.boas-vindas {
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
}

.introducao__mobile {
    margin: 2rem 4.5rem 1rem;
    line-height: 150%;
    text-align: center;
    color: aliceblue;
    font-size: 1.2rem;
}

.introducao__outras {
    display: none;
}

.botoes {
    text-align: center;

}

.botao {
    padding: 1.2rem 0 1.2rem 0;
    color: white;
    background-color: #FC7071;
    border: none;
    
    margin: 1rem 0 1rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    width: 50%;
    border-radius: 7px;
}

.botao:hover {
    cursor: pointer;
    background: #c44f4f;
}

.pets {
    display: block;
    margin: 1rem auto -1.125rem auto;
    width: 70%;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 75% 30%, auto, 0;
    }
    .boas-vindas {
        font-size: 1.8rem;
    }
    
    .introducao__mobile {
        display: none;
    }

    .introducao__outras {
        display: block;
        margin: 2rem 12.2rem 1rem;
        line-height: 150%;
        text-align: center;
        color: aliceblue;
        font-size: 1.2rem;
    }


    .botao {
        padding: 1rem 0 1rem 0;
        width: 40%;
    }

    .pets {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-size: 40% 40%, auto, 0;
    }
    .logo {
        margin-top: 1rem;
        width: 270px;
    }
    .boas-vindas {
        font-size: 1.8rem;
    }
    
    .introducao__outras {
        margin: 3rem 30rem 1rem;
        line-height: 1.5;
        text-align: center;
        color: aliceblue;
        font-size: 1.2rem;
    }
    
    .botao {
        padding: 1rem 1.5rem 1rem 1.5rem;
        margin: 1rem 0 1rem 0;
        font-size: 1.3rem;
        width: 25%;
    }

    .pets {
        width: 25%;
    }
}