button, input, textarea {
    font-family: Poppins;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    background-image: url('../img/Patas.svg'), url('../img/Forma_1.png'), url('../img/Forma_2.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top right, top left, right;
    background-size: 45% 250px, 95% 350px, 20% 40%;
}

.sucesso {
  padding: 20px;
  background-color: #d1e7dd;
  color: #125335;
  margin-bottom: 15px;
}

.erro {
    padding: 20px;
    background-color: #FF7F7F;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
}

.cabecalho__usuario {
    width: 3rem;
    height: 3rem;
    margin: 3rem 2.5rem 2rem 2.5rem;
}

.logotipo {
    display: none;
}

.nav-itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5rem;
}

.icones {
    display: flex;

}

.icone {
    margin: 3.5rem 1.5rem 2rem 2.5rem;
    width: 1.8rem;
    height: 1.8rem;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 30% 300px, 75% 450px, auto;
    }

    .cabecalho {
        justify-content: space-between;
    }

    .logotipo {
        display: inline;
        width: 120px;
    }
    .figuras {
        margin: 3.5rem 1.5rem 2rem 2.5rem;
        width: 1.5rem;
        height: 1.5rem;
        
    }
}


@media screen and (min-width: 1024px) {
    body {
        background-size: 20% 400px, 40% 450px, auto;
    }

    .cabecalho {
        justify-content: space-between;
        margin: auto 4rem;
    }

    .icones {
        margin-left: 3rem;
    }
    .icone {
        margin: 4rem 2.5rem 2rem 2.5rem;
    }

    .logotipo {
        display: inline;
        width: 120px;
    }
    .figuras {
        width:25px;
        margin-left: 1.5rem;
    }
    
    .logo {
        margin-top: 0;
    }
}