.logo-azul {
    width: 180px;
    display: block;
    margin: 3.3rem auto 0;
}


.boas-vindas {
    padding-top: 2rem;
    font-size: 1.1rem;
    text-align: center;
    margin: 0 2rem;
    line-height: 1.5;
    color: #3772FF;
}

.formulario-cadastro {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    margin: 2rem 0;
}


.label-cadastro {
    font-size: 1.2rem;
    color: #737380;
    margin-bottom: 0.5em;
}

.input-cadastro {
    font-size: 1rem;
    color: black;
    text-align: center;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #F6F6F6;
    box-shadow: 2px 2px #e3e1e1;
    width: 80%;
}

::placeholder {
    color: lightgrey;
}

.botao-cadastro {
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #FC7071;
    margin: 0 1rem 2rem;
    padding: 0.6rem;
    width: 40%;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .logo-azul {
        width: 240px;
        margin: 7rem auto 0;
    }
    
    .boas-vindas {
        margin: 0 8rem;
    }
    
    .formulario-cadastro {
        margin: 2rem 0;
    }
    
    .input-cadastro {
        width: 45%;
    }
    
    ::placeholder {
        color: lightgrey;
    }
    
    .botao-cadastro {
        margin: 1rem 1rem 6rem;
        width: 30%;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    .logo-azul {
        margin: 0 auto;
        width: 290px;
    }
    
    .boas-vindas {
        margin: 0 30rem;
    }

    .formulario-cadastro {
        margin: 2rem 0;
    }
    
    .input-cadastro {
        width: 40%;
    }
    
    ::placeholder {
        color: lightgrey;
    }
    
    .botao-cadastro {
        margin: 1rem 1rem 6rem;
        width: 15%;
        font-size: 1.2rem;
    }
    
    .senha {
        width: 20%;
   
    }
}