{% extends 'template.html' %}
{% block conteudo %}

        <main>
            <img class="logo-azul" src='./img/Logo_-_azul.svg' alt="Logo Adopet">
            <h1 class='boas-vindas'>Ainda não tem cadastro?<br>Então antes de buscar seu melhor amigo, precisamos de alguns dados:</h1>
            <form action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">
                <div class="formulario">
                    {{ form.nome.label() }}
                    {{ form.nome(placeholder="Digite seu nome Completo") }}

                </div>
                <div class="formulario">
                    {{ form.email.label() }}
                    {{ form.email(placeholder="Digite seu melhor email") }}
                </div>
                <div class="formulario form-senha">
                    {{ form.senha.label() }}
                    {{ form.senha(placeholder="Crie uma senha") }}
                </div>
                <div class="formulario form-senha">
                    {{ form.conf_senha.label() }}
                    {{ form.conf_senha(placeholder="Repita a senha criada") }}
                </div>
                <div class="formulario form-botao">

                    <button>Cadastrar!</button>
                </div>
            </form>
        </main>

   {% endblock %}