{% extends 'template.html' %}
{% block conteudo %}
    <main>
        <h1 class="mensagem">Olá!<br> Veja os amigos disponíveis para adoção!</h1>
        <section>
            <div class='container'>
                {% for pet in pets %}
                <div class="ficha-animal">
                    <img class='animal' src="../uploads/capa{{pet.id}}.png" alt="{{pet.nome}}">
                    <div class="descricao">                    
                        <p class="descricao__dados">{{pet.nome}}</p>
                        <p class="descricao__dados">{{pet.idade}}</p>
                        <p class="descricao__dados">{{pet.porte}}</p>
                        <p class="descricao__dados">{{pet.descricao}}</p>
                        <p class="descricao__dados">{{pet.localidade}}</p>
                        <p class="descricao__dados">Falar com responsável</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}