<!DOCTYPE html>
<html lang='pt-br'>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{ titulo }}</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/cabecalho.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/rodape.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename=estilo) }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/cadastro.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/home.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/mensagem.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav-itens">
            <ul class="icones">
                <li><img class="icone logotipo" src="{{ url_for('static', filename='img/Logo.svg') }}"></li>
                <li><a href={{url_for('home')}}><img class="icone figuras "
                            src="{{ url_for('static', filename='img/Casa.svg') }}"></a></li>
                <li><a href={{url_for('mensagem')}}><img class="icone figuras"
                            src="{{ url_for('static', filename='img/Mensagens.svg') }}"></a></li>
            </ul>
            {% if current_user.id %}
                <a href="{{ url_for('perfil') }}"><img style="visibility:{{ visibility }}" src="uploads/user{{current_user.id}}.png" height="70" alt="Foto perfil usuário padrão"></a>
            {% else %}
                <a href="{{ url_for('perfil') }}"><img style="visibility:{{ visibility }}" src="{{ url_for('static', filename='img/Usuário.png') }}"alt="Foto perfil usuário padrão"></a>
            {% endif %}
        </div>

    </header>

    {% block conteudo %} {% endblock %}

    <footer>
        <p id="rodape">2022 - Desenvolvido por Leandro Oliveira</p>
    </footer>
</body>

</html>